.createContainer {
  width: 500px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f3e9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.212);
  border-radius: 4px;
}

.createText {
  font-size: 20px;
  margin-top: 10px;
}

.createForm {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.titleInput {
  font-size: 17px;
  height: 20px;
  padding: 10px;
}

.descTxtArea {
  height: 60px;
  resize: none;
  padding: 10px;
}

.titleInput, .descTxtArea {
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  margin-top: 5px;
  height: 35px;
  width: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #eee;
  background-color: #f05945;
}

@media (max-width: 575px) {
  .createContainer {
    width: 300px;
  }
}

@media (max-width: 370px) {
  .createContainer {
    width: 200px;
  }
}